<!DOCTYPE html>
<html>
  <head>
    <title>Set New Password</title>
  </head>
  <body>
    <h2>Set your new password</h2>
    {% if validlink %}
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
    {% else %}
    <p>
      The password reset link is invalid, possibly because it has already been
      used. Please request a new password reset.
    </p>
    <a href="/accounts/password_reset/">Request new password reset</a>
    {% endif %}
  </body>
</html>
